body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Inter';
  src: url("Inter/static/Inter-Medium.ttf");
  
       }
          .navigationMenu{
                width: 100%;
                height: 83px;
           }
          .rect{
              
              width:100%;
              height: 72px;
              background: #FFFFFF;
              box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.25);
              display: flex;
              justify-content: space-between;
          }
          .laurate{
              width: 198px;
              height: 58px;
              margin-left: 21px;
              margin-top: 25px;
              font-family: Inter;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 29px;
              text-align: center;
              letter-spacing: -0.02em;
              color: #000000;
          }
          .dott{
              color: cornflowerblue;
          }
          .blogText{
              width: 78px;
              height: 29px;
              margin-right: 50px;
              margin-top: 25px;
              font-family: Inter;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 22px;
              text-align: center;
              color: #000000;
          }
       
          .rect2{
              position: absolute;
              width: 980px;
              height: 464px;
              right: 100px;
              top: 285px;
              
            
          }
          .normalPre{
               position: absolute;
              width: 334px;
              height: 154px;
              left: 75px;
              top: 208px;
              font-family: Inter;
              font-style: normal;
              font-weight: normal;
              font-size: 64px;
              line-height: 77px;
              color: #000000;
              margin-top: 37px;
           }
           .responsivePre{
               display: none;
           }
          span{
              color: cornflowerblue;
          }
          .text{
  
              position: absolute;
              width: 503px;
              height: 333px;
              left: 75px;
              top: 399px;
  
              font-family: Inter;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 22px;
              letter-spacing: 0.04em;
              margin-bottom: 28px;
  
              color: #5E5E5E;
           }
          .blogText:hover{
              color: cornflowerblue;
              cursor: pointer;
          }
         .iconEmail:hover{
            background-color: cornflowerblue;
          }
          .iconGit:hover{
            background-color: cornflowerblue;
          }
          .iconInsta:hover{
            background-color: cornflowerblue;
          }
          .iconLink:hover{
            background-color: cornflowerblue;
          }
          .iconTwitter:hover{
            background-color: cornflowerblue;
          }
          .iconVector:hover{
            background-color: cornflowerblue;
          }
          
          
          
          .iconGit{
              width:26.02px;
              height: 28.06px;
              margin-left: 75px;
          }
          .iconInsta{
              width:23.49px;
              height: 28.06px;
          }
          .iconLink{
              width:27.01px;
              height: 28.06px;
          }
          .iconVector{
              width:28.01px;
              height: 27.13px;
          }
          .iconTwitter{
              width:28.91px;
              height: 29px;
          }
          .iconEmail{
              width:28.01px;
              height: 20.58px;
          }
          .icons{
              position: absolute;
              top: 760px;
              display: flex;      
              align-items: center;  
              
                    
       }
       .icon{
           margin-right: 14.46px;
       }
       .fbPlugin{
           width: 80px;
           height: 80px;
           border-radius: 50%;
           background-color: #5190CE;
           position: absolute;
          left: 91.49%;
          right: 4.48%;
          top: 87.87%;
          bottom: 6.92%;
          display: flex;
          align-items: center;
          justify-content:center ;
  
       }
      
       @media only screen  and (max-width:360px){
          
        .rect{
              width: 360px;
              height: 54px;
              background: #FFFFFF;
              box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.25);

         }
        .normalPre{
             display: none;
         }
        .responsivePre{
              display: block;
            position: absolute;
            width: 163px;
            height: 26px;
            left: 94px;
            top: 71px;

            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;

            color: #000000;


         }
         .rect2{
          position: absolute;
          width: 344px;
          height: 239px;
          left: 7px;
          top: 114px;



        }
          .text{
          

            position: absolute;
            width: 307px;
            height: 216px;
            left: 31px;
            top: 327px;

            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.04em;

            color: #5E5E5E;


         }
          .iconGit{
              width:14.3px;
              height: 17.4px;
              margin-left: 75px;
          }
          .iconInsta{
              width:12.8px;
              height: 17.4px;
          }
          .iconLink{
              width:14.8px;
              height: 17.4px;
          }
          .iconVector{
              width:15.3px;
              height: 16.84px;
          }
          .iconTwitter{
              width:15.8px;
              height: 18px;
          }
          .iconEmail{
              width:15.3px;
              height: 12.7px;
          }
         .icons{
              position: absolute;
              top: 580px;
              left: 10%;
              display: flex;      
              align-items: center;  
  
          } 
         .fbPlugin{
              width: 60px;
              height: 60px;
              border-radius: 50%;
              background-color: #5190CE;
              position: absolute;
              left: 115%;
              top: 115%;
              bottom: 6.92%;
              display: flex;
              align-items: center;
              justify-content:center ; 
          }
               
          .fbPluginImg{
              width: 40px;
              height: 37px;
          }
          .laurate{
              width: 150px;
              height: 48px;
              margin-left: 0;
              margin-top:15px;
              font-family: Inter;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 29px;
              text-align: center;
              letter-spacing: -0.02em;
              color: #000000;
          }
           .blogText{
              width: 78px;
              height: 29px;
              margin-right: 20px;
              margin-top: 19px;
              font-family: Inter;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 22px;
              text-align: center;
              color: #000000;
          }
       }
